@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&display=swap");

html {
	color: white;
	background: black;
	text-align: center;
	font-family: "Fira Code", monospace;
}

h1 {
	font-size: 64px;
	margin: 0px;
}

p {
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: row;
}

.symbols {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.symbols input {
	cursor: crosshair;
}

.logo {
	display: block;
	margin: auto;
	width: 10%;
}

.comments {
	width: 50%;
	margin: 16px;
}

.button404 {
	background: white;
	color: black;
	font-size: 16;
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
	text-decoration: none;
}
